# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
fasih_sm_scrape - *

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific
sessions/
Log/
Hasil/
*.xlsx
*.pkl

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
