# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific
sessions/
Log/
Hasil/
output_scraper/
data_wilayah/
*.xlsx
*.pkl

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Script Python Sampah
fasih_sm_scrape -*